__pycache__/
*.gdf
*.pyc
*.hdf5
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.swc
dev/
dev_env/
test_env/
nrnmech.dll
.coverage
htmlcov/
.idea/

# Ignore obfuscation files
obfuscation/scaffold/
obfuscation/licenses
