__pycache__/
*.gdf
*.pyc
*.hdf5
*.swc
*.h5
*.json
build/
dist/
bsb-*/
*.egg-info/
pip-wheel-metadata/
.python-version
dev_env/
test_env/
nrnmech.dll
.coverage
htmlcov/
.idea/
!morphologies.hdf5
# Ignore report files
*.io
.vscode/
bsb-*/


# Merge note: NRRD & jupyter checkpoints
*.nrrd
.ipynb_checkpoints
