__pycache__/
*.gdf
*.pyc
*.hdf5
build/
dist/
*.egg-info/
pip-wheel-metadata/
.python-version
*.swc
dev/
dev_env/
test_env/
nrnmech.dll
.coverage
htmlcov/
.idea/
obfuscation/licenses
obfuscation/scaffold
!morphologies.hdf5

# Ignore obfuscation files
obfuscation/scaffold/
obfuscation/licenses

# Ignore report files
*.io
*.vscode/
