name: Black

on: [push, pull_request]

jobs:
  black:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: psf/black@stable
      with:
        options: "--check --verbose"
        version: "24.1.1"
