name: docs

on: [push, pull_request]

jobs:
  check-documentation:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install MPI
      run: |
        sudo apt-get update
        sudo apt-get install -y openmpi-bin libopenmpi-dev
    - name: Install dependencies
      run: |
        python -m pip install pip
        pip install -r docs/requirements.txt
        pip install sphinx==4.4.0
    - name: Install self
      run: |
        pip install -e .
    - name: Fail documentations on warnings
      run: cd docs && sphinx-build -nW -b html . _build/html
